@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$ff-outfit: 'Outfit', sans-serif;
$c-white: hsl(0, 0%, 100%);
$c-light-gray: hsl(212, 45%, 89%);
$c-grayish-blue: hsl(220, 15%, 55%);
$c-dark-blue: hsl(218, 44%, 22%);