@use 'variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
	height: 100vh;
	font-size: 15px;
	font-family: $ff-outfit;
	background-color: $c-light-gray;
}

.card {
	margin: 0 auto;
	min-width: 15em;
	max-width: 21.3em;
	background-color: $c-white;
	border-radius: 0.75rem;
	box-shadow: 3px 12px 20px 0px $c-grayish-blue;

	&__figure {
		display: grid;
		place-items: center;
		margin: 1.2rem;
		overflow: hidden;
		border-radius: 0.75rem;
	}

	&__image {
		display: block;
		max-width: 100%;
		transition: transform ease-in-out 0.4s;
	}

	&__image:hover {
		transform: scale(1.3);
	}

	&__body {
		margin: 2rem 2rem 2.3rem 2rem;
	}
	&__title {
		font-size: 1.3rem;
		text-indent: 4px;
		color: $c-dark-blue;
	}
	&__text {
		margin: 1.1rem;
		word-spacing: 1px;
		line-height: 1.3em;
		color: $c-grayish-blue;
	}

	&__title,
	&__text {
		text-align: center;
	}
}

.footer {
	display: none;
}
